<section class="course-header-area">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="course-header-wrap">
                    <h1 class="title">Supreme Photoshop Training: From Beginner to Expert</h1>
                    <p class="subtitle">Supreme Photoshop Training - Become an expert in Photoshop with no experience or
                        prior knowledge - Anyone can do it</p>
                    <div class="rating-row">
                        <span class="course-badge best-seller">Beginner</span>
                        <i class="fas fa-star filled" style="color: #f5c85b;"></i>
                        <i class="fas fa-star filled" style="color: #f5c85b;"></i>
                        <i class="fas fa-star filled" style="color: #f5c85b;"></i>
                        <i class="fas fa-star filled" style="color: #f5c85b;"></i>
                        <i class="fas fa-star"></i>
                        <span class="d-inline-block average-rating">4</span><span>(1 Ratings)</span>
                        <span class="enrolled-num">
                            1 Students enrolled </span>
                    </div>
                    <div class="created-row">
                        <span class="created-by">
                            Created by <a href="1.html">John Doe</a>
                        </span>
                        <span class="last-updated-date">Last updated Fri, 05-Jul-2019</span>
                        <span class="comment"><i class="fas fa-comment"></i>English</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">

            </div>
        </div>
    </div>
</section>


<section class="course-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                <div class="what-you-get-box">
                    <div class="what-you-get-title">What will i learn?</div>
                    <ul class="what-you-get__items">
                        <li>You will be a Photoshop Expert </li>
                        <li>You will understand all photoshop basics </li>
                        <li>You will know how to photoshop your own projects </li>
                        <li>You will know learn over 60+ Photoshop effects &amp; techniques.</li>
                        <li>You will be beyond intermediate photoshop level. </li>
                        <li>You will know how to work with layers, masks, smart objects &amp; more.</li>
                        <li>ou will know how to work with color corrections, grades, filters &amp; effects.</li>
                    </ul>
                </div>
                <br>
                <div class="course-curriculum-box">
                    <div class="course-curriculum-title clearfix">
                        <div class="title float-left">Curriculum for this course</div>
                        <div class="float-right">
                            <span class="total-lectures">
                                12 Lessons </span>
                            <span class="total-time">
                                01:50:56 Hours </span>
                        </div>
                    </div>
                    <div class="course-curriculum-accordion">
                        <div class="lecture-group-wrapper">
                            <div class="lecture-group-title clearfix" data-toggle="collapse" data-target="#collapse16"
                                aria-expanded="true">
                                <div class="title float-left">
                                    Course Introduction - Welcome Note </div>
                                <div class="float-right">
                                    <span class="total-lectures">
                                        2 Lessons </span>
                                    <span class="total-time">
                                        00:11:15 Hours </span>
                                </div>
                            </div>

                            <div id="collapse16" class="lecture-list collapse show">
                                <ul>
                                    <li class="lecture has-preview">
                                        <span class="lecture-title">Photoshop Introduction - What &amp; How </span>
                                        <span class="lecture-time float-right">00:05:52</span>
                                        <!-- <span class="lecture-preview float-right" data-toggle="modal" data-target="#CoursePreviewModal">Preview</span> -->
                                    </li>
                                    <li class="lecture has-preview">
                                        <span class="lecture-title">Photoshop Introduction - Understand The Photoshop
                                            Layout </span>
                                        <span class="lecture-time float-right">00:05:23</span>
                                        <!-- <span class="lecture-preview float-right" data-toggle="modal" data-target="#CoursePreviewModal">Preview</span> -->
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="lecture-group-wrapper">
                            <div class="lecture-group-title clearfix" data-toggle="collapse" data-target="#collapse17"
                                aria-expanded="false">
                                <div class="title float-left">
                                    Photoshop Interface &amp; Workspace </div>
                                <div class="float-right">
                                    <span class="total-lectures">
                                        3 Lessons </span>
                                    <span class="total-time">
                                        00:20:11 Hours </span>
                                </div>
                            </div>

                            <div id="collapse17" class="lecture-list collapse ">
                                <ul>
                                    <li class="lecture has-preview">
                                        <span class="lecture-title">Menu Run Through</span>
                                        <span class="lecture-time float-right">00:08:27</span>
                                        <!-- <span class="lecture-preview float-right" data-toggle="modal" data-target="#CoursePreviewModal">Preview</span> -->
                                    </li>
                                    <li class="lecture has-preview">
                                        <span class="lecture-title">Tools &amp; Fourground Colors </span>
                                        <span class="lecture-time float-right">00:05:52</span>
                                        <!-- <span class="lecture-preview float-right" data-toggle="modal" data-target="#CoursePreviewModal">Preview</span> -->
                                    </li>
                                    <li class="lecture has-preview">
                                        <span class="lecture-title">Blending Options </span>
                                        <span class="lecture-time float-right">00:05:52</span>
                                        <!-- <span class="lecture-preview float-right" data-toggle="modal" data-target="#CoursePreviewModal">Preview</span> -->
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="lecture-group-wrapper">
                            <div class="lecture-group-title clearfix" data-toggle="collapse" data-target="#collapse18"
                                aria-expanded="false">
                                <div class="title float-left">
                                    Important Photoshop Tools </div>
                                <div class="float-right">
                                    <span class="total-lectures">
                                        3 Lessons </span>
                                    <span class="total-time">
                                        00:29:03 Hours </span>
                                </div>
                            </div>

                            <div id="collapse18" class="lecture-list collapse ">
                                <ul>
                                    <li class="lecture has-preview">
                                        <span class="lecture-title">Move Tool </span>
                                        <span class="lecture-time float-right">00:08:27</span>
                                        <!-- <span class="lecture-preview float-right" data-toggle="modal" data-target="#CoursePreviewModal">Preview</span> -->
                                    </li>
                                    <li class="lecture has-preview">
                                        <span class="lecture-title">Lasso Tool </span>
                                        <span class="lecture-time float-right">00:20:36</span>
                                        <!-- <span class="lecture-preview float-right" data-toggle="modal" data-target="#CoursePreviewModal">Preview</span> -->
                                    </li>
                                    <li class="lecture has-preview">
                                        <span class="lecture-title">Photoshop Quiz</span>
                                        <span class="lecture-time float-right">00:00:00</span>
                                        <!-- <span class="lecture-preview float-right" data-toggle="modal" data-target="#CoursePreviewModal">Preview</span> -->
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="lecture-group-wrapper">
                            <div class="lecture-group-title clearfix" data-toggle="collapse" data-target="#collapse19"
                                aria-expanded="false">
                                <div class="title float-left">
                                    Photoshop - Workflow Tips, Tools &amp; Photoshop Tricks </div>
                                <div class="float-right">
                                    <span class="total-lectures">
                                        2 Lessons </span>
                                    <span class="total-time">
                                        00:14:19 Hours </span>
                                </div>
                            </div>

                            <div id="collapse19" class="lecture-list collapse ">
                                <ul>
                                    <li class="lecture has-preview">
                                        <span class="lecture-title">Correcting Perspective Distortion with Warp Tool
                                        </span>
                                        <span class="lecture-time float-right">00:05:52</span>
                                        <!-- <span class="lecture-preview float-right" data-toggle="modal" data-target="#CoursePreviewModal">Preview</span> -->
                                    </li>
                                    <li class="lecture has-preview">
                                        <span class="lecture-title">How To Work &amp; Record Photoshop Actions -
                                            Popular</span>
                                        <span class="lecture-time float-right">00:08:27</span>
                                        <!-- <span class="lecture-preview float-right" data-toggle="modal" data-target="#CoursePreviewModal">Preview</span> -->
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="lecture-group-wrapper">
                            <div class="lecture-group-title clearfix" data-toggle="collapse" data-target="#collapse20"
                                aria-expanded="false">
                                <div class="title float-left">
                                    Photoshop - Beauty Retouching &amp; Hair Retouching Techniques </div>
                                <div class="float-right">
                                    <span class="total-lectures">
                                        1 Lessons </span>
                                    <span class="total-time">
                                        00:18:04 Hours </span>
                                </div>
                            </div>

                            <div id="collapse20" class="lecture-list collapse ">
                                <ul>
                                    <li class="lecture has-preview">
                                        <span class="lecture-title">Basic Skin Retouching </span>
                                        <span class="lecture-time float-right">00:18:04</span>
                                        <!-- <span class="lecture-preview float-right" data-toggle="modal" data-target="#CoursePreviewModal">Preview</span> -->
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="lecture-group-wrapper">
                            <div class="lecture-group-title clearfix" data-toggle="collapse" data-target="#collapse21"
                                aria-expanded="false">
                                <div class="title float-left">
                                    Complete Retouching Sessions </div>
                                <div class="float-right">
                                    <span class="total-lectures">
                                        1 Lessons </span>
                                    <span class="total-time">
                                        00:18:04 Hours </span>
                                </div>
                            </div>

                            <div id="collapse21" class="lecture-list collapse ">
                                <ul>
                                    <li class="lecture has-preview">
                                        <span class="lecture-title"> Complete BMX'er Sport Retouch in Photoshop</span>
                                        <span class="lecture-time float-right">00:18:04</span>
                                        <!-- <span class="lecture-preview float-right" data-toggle="modal" data-target="#CoursePreviewModal">Preview</span> -->
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="requirements-box">
                    <div class="requirements-title">Requirements</div>
                    <div class="requirements-content">
                        <ul class="requirements__list">
                            <li>You only need a Photoshop Absolutely no experience is required. </li>
                            <li>A notebook and pen, please! Or Download the videos for traveling!</li>
                        </ul>
                    </div>
                </div>
                <div class="description-box view-more-parent">
                    <div class="view-more" onclick="viewMore(this,'hide')">+ View more</div>
                    <div class="description-title">Description</div>
                    <div class="description-content-wrap">
                        <div class="description-content">
                            <p xss="removed"><span xss="removed"><b>Supreme Photoshop Training: From Beginner to
                                        Expert</b></span></p>
                            <ul xss="removed">
                                <li>
                                    <p xss="removed">MORE THAN&nbsp;<span xss="removed">130 000</span>&nbsp;STUDENTS
                                        HAVE ENROLLED ALREADY</p>
                                </li>
                                <li>
                                    <p xss="removed"><span xss="removed">120+</span>&nbsp;PHOTOSHOP LESSONS&nbsp;<em>"
                                            Making Photoshop Fun &amp; Easy "</em></p>
                                </li>
                                <li>
                                    <p xss="removed"><span xss="removed"><em>Updated</em></span><em>&nbsp;The Complete
                                            First Beginner Section</em><span xss="removed"><em>&nbsp;- "SLOW"&nbsp;Good
                                                For Beginners!&nbsp;</em></span></p>
                                </li>
                                <li>
                                    <p xss="removed">LATEST COURSE UPDATE -&nbsp;<span xss="removed"><em>30 April
                                                2019</em></span></p>
                                </li>
                                <li>
                                    <p xss="removed"><span xss="removed">4.3&nbsp;</span>Star Rating from really happy
                                        &amp; satisfied students</p>
                                </li>
                                <li>
                                    <p xss="removed">All Work Materials are provided &amp; ready for you to download</p>
                                </li>
                                <li>
                                    <p xss="removed"><span xss="removed">No Prior</span>&nbsp;Photoshop knowledge
                                        needed<em>&nbsp;"Guaranteed"</em></p>
                                </li>
                                <li>
                                    <p xss="removed">Free Preview lessons here &amp;&nbsp;YouTube&nbsp;</p>
                                </li>
                                <li>
                                    <p xss="removed">Full&nbsp;<span xss="removed">lifetime access</span>&nbsp;to the
                                        complete course</p>
                                </li>
                                <li>
                                    <p xss="removed">All future &amp; additional lectures will always be free of charge
                                    </p>
                                </li>
                                <li>
                                    <p xss="removed"><span xss="removed">No</span>&nbsp;illustrator, plugins or other
                                        software is needed "<em>You only need Photoshop"</em></p>
                                </li>
                            </ul>
                            <p xss="removed"><br></p>
                            <p xss="removed"><b><span xss="removed">ARE YOU STRUGGLING WITH ADOBE
                                        PHOTOSHOP?</span>&nbsp;</b></p>
                            <ul xss="removed">
                                <li>
                                    <p xss="removed">AND MASSIVELY WANT TO IMPROVE?</p>
                                </li>
                                <li>
                                    <p xss="removed">AND DO IT EASILY AND INSTANTLY?</p>
                                </li>
                                <li>
                                    <p xss="removed">AND WITH NO PRIOR PHOTOSHOP KNOWLEDGE?</p>
                                </li>
                                <li>
                                    <p xss="removed">AND WITH MY WORKING FILES?</p>
                                </li>
                            </ul>
                            <p xss="removed"><span xss="removed">--------------------------- "&nbsp;<em>Then this course
                                        is for you&nbsp;</em>" -------------------------------</span>&nbsp;</p>
                            <p xss="removed"><b><span xss="removed">What This Course Entails:</span>&nbsp;</b></p>
                            <p xss="removed">I will teach you how to get into photoshop, so don't worry if you don't
                                have&nbsp;<span xss="removed">prior experience with photoshop</span>&nbsp;or other
                                plugins. Follow my lead and I'll teach you to be good at
                                it!&nbsp;<em>&ldquo;Seriously"</em>&nbsp;</p>
                            <p xss="removed"><span xss="removed">All my photoshop instructions</span>&nbsp;form part of
                                a comprehensive guide that can help you to accomplish your goals by applying these
                                skills. During the lesson you get to eavesdrop as I work, giving you some insight as to
                                how I work and what I do. You will also be able to download all my work files and work
                                along with the exact same files.</p>
                            <p xss="removed">The idea is to make photoshop fun and easy!&nbsp;<span
                                    xss="removed"><em>"Anyone can do this"</em></span>&nbsp;</p>
                            <p xss="removed">Whether you have&nbsp;<span xss="removed">previous experience with
                                    photoshop or not</span>, it doesn't matter. Apply your knowledge for half an hour a
                                day and you could be making huge improvements or even extra cash, just like me.</p>
                            <p xss="removed"><em>"And I'm not kidding when I say that you need nothing but
                                    photoshop!"</em>&nbsp;</p>
                        </div>
                    </div>
                </div>


                <div class="compare-box view-more-parent">
                    <div class="view-more" onclick="viewMore(this)">+ View more</div>
                    <div class="compare-title">Other related courses</div>
                    <div class="compare-courses-wrap">
                        <div class="course-comparism-item-container this-course">
                            <div class="course-comparism-item clearfix">
                                <div class="item-image float-left  mt-4 mt-md-0">
                                    <a href="26.html"><img
                                            src="images/course-supreme-photoshop-training-from-beginner-to-expert"
                                            alt="" class="img-fluid"></a>
                                    <div class="item-duration"><b>01:09:38 Hours</b></div>
                                </div>
                                <div class="item-title float-left">
                                    <div class="title"><a href="26.html">How To Shoot B-Roll Footage with Peter
                                            McKinnon</a></div>
                                    <div class="updated-time">Updated Sat, 06-Jul-2019</div>
                                </div>
                                <div class="item-details float-left">
                                    <span class="item-rating">
                                        <i class="fas fa-star"></i>
                                        <span class="d-inline-block average-rating">5</span>
                                    </span>
                                    <span class="enrolled-student">
                                        <i class="far fa-user"></i>
                                        2 </span>
                                    <span class="item-price mt-4 mt-md-0">
                                        <span class="original-price">$1896</span>
                                        <span class="current-price">$1800</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="about-instructor-box">
                    <div class="about-instructor-title">
                        About the instructor </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="about-instructor-image">
                                <img src="images/user_image-placeholder.png" alt="" class="img-fluid">
                                <ul>
                                    <!-- <li><i class="fas fa-star"></i><b>4.4</b> Average Rating</li> -->
                                    <li><i class="fas fa-comment"></i><b>
                                            5 </b> Reviews</li>
                                    <li><i class="fas fa-user"></i><b>
                                            4 </b> Students</li>
                                    <li><i class="fas fa-play-circle"></i><b>
                                            11 </b> Courses</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="about-instructor-details view-more-parent">
                                <div class="view-more" onclick="viewMore(this)">+ View more</div>
                                <div class="instructor-name">
                                    <a href="1.html">John Doe</a>
                                </div>
                                <div class="instructor-title">
                                    Eat Sleep Code Repeat </div>
                                <div class="instructor-bio">
                                    <p><b xss="removed"><u><span lang="ru" xml:lang="ru"
                                                    xss="removed">&#1051;&#1086;&#1088;&#1077;&#1084;
                                                    &#1080;&#1087;&#1089;&#1091;&#1084;
                                                    &#1076;&#1086;&#1083;&#1086;&#1088; &#1089;&#1080;&#1090;
                                                    &#1072;&#1084;&#1077;&#1090;, &#1087;&#1077;&#1088;
                                                    &#1094;&#1083;&#1080;&#1090;&#1072;
                                                    &#1087;&#1086;&#1089;&#1089;&#1080;&#1090; &#1077;&#1093;,
                                                    &#1072;&#1090; &#1084;&#1091;&#1085;&#1077;&#1088;&#1077;
                                                    &#1092;&#1072;&#1073;&#1091;&#1083;&#1072;&#1089;
                                                    &#1087;&#1077;&#1090;&#1077;&#1085;&#1090;&#1080;&#1091;&#1084;
                                                    &#1089;&#1080;&#1090;. &#1048;&#1091;&#1089; &#1094;&#1091;
                                                    &#1094;&#1080;&#1073;&#1086;
                                                    &#1089;&#1072;&#1087;&#1077;&#1088;&#1077;&#1090;
                                                    &#1089;&#1094;&#1088;&#1080;&#1087;&#1089;&#1077;&#1088;&#1080;&#1090;,
                                                    &#1085;&#1077;&#1094; &#1074;&#1080;&#1089;&#1080;
                                                    &#1084;&#1091;&#1094;&#1080;&#1091;&#1089;
                                                    &#1083;&#1072;&#1073;&#1080;&#1090;&#1091;&#1088; &#1080;&#1076;.
                                                    &#1045;&#1090; &#1093;&#1080;&#1089;
                                                    &#1085;&#1086;&#1085;&#1091;&#1084;&#1077;&#1089;
                                                    &#1085;&#1086;&#1083;&#1091;&#1080;&#1089;&#1089;&#1077;
                                                    &#1076;&#1080;&#1075;&#1085;&#1080;&#1089;&#1089;&#1080;&#1084;.</span><span
                                                    xss="removed">&nbsp;</span></u></b><br></p>
                                    <p><b xss="removed">Chinese Lorem Ipsum</b><span xss="removed">:&nbsp;</span><span
                                            lang="zh" xml:lang="zh"
                                            xss="removed">&#20596;&#32076;&#24847;&#36012;&#23478;&#26041;&#23478;&#38281;&#35342;&#24215;&#26262;&#32946;&#30000;&#24193;&#36617;&#31038;&#36578;&#32218;&#23431;&#12290;&#24471;&#21531;&#26032;&#34899;&#27835;&#28201;&#25239;&#28155;&#20195;&#35441;&#32771;&#25391;&#25237;&#21729;&#27572;&#22823;&#38360;&#21271;&#35009;&#12290;&#21697;&#38291;&#35672;&#37096;&#26696;&#20195;&#23398;&#20976;&#20966;&#28168;&#28310;&#19990;&#19968;&#25144;&#21051;&#27861;&#20998;&#12290;&#24764;&#28204;&#28168;&#35535;&#35336;&#39151;&#21033;&#23433;&#20982;&#26029;&#29702;&#36039;&#27810;&#21516;&#23721;&#38754;&#25991;&#35469;&#38761;&#12290;&#20869;&#35686;&#26684;&#21270;&#20877;&#34220;&#26041;&#20037;&#21270;&#20307;&#25945;&#24481;&#27770;&#25968;&#35437;&#33464;&#24471;&#31558;&#20195;&#12290;</span>
                                    </p>
                                    <p><b xss="removed">Indian Lorem Ipsum</b><span xss="removed">:&nbsp;</span><span
                                            lang="hi" xml:lang="hi" xss="removed">&#2346;&#2338;&#2366;&#2319;
                                            &#2361;&#2367;&#2306;&#2342;&#2368;
                                            &#2352;&#2361;&#2366;&#2352;&#2369;&#2346;
                                            &#2309;&#2344;&#2369;&#2357;&#2366;&#2342;
                                            &#2325;&#2366;&#2352;&#2381;&#2351;&#2354;&#2351;
                                            &#2350;&#2369;&#2326;&#2381;&#2351;
                                            &#2360;&#2306;&#2360;&#2381;&#2341;&#2366;
                                            &#2360;&#2379;&#2398;&#2340;&#2357;&#2375;&#2352;
                                            &#2344;&#2367;&#2352;&#2346;&#2375;&#2325;&#2381;&#2359;
                                            &#2313;&#2344;&#2325;&#2366; &#2310;&#2346;&#2325;&#2375;
                                            &#2348;&#2366;&#2335;&#2340;&#2375;
                                            &#2310;&#2358;&#2366;&#2310;&#2346;&#2360;
                                            &#2350;&#2369;&#2326;&#2381;&#2351;&#2340;&#2361;
                                            &#2313;&#2358;&#2325;&#2368; &#2325;&#2352;&#2340;&#2366;&#2404;
                                            &#2358;&#2369;&#2352;&#2369;&#2310;&#2340;
                                            &#2360;&#2306;&#2360;&#2381;&#2341;&#2366;
                                            &#2325;&#2369;&#2358;&#2354;&#2340;&#2366;
                                            &#2350;&#2375;&#2306;&#2349;&#2335;&#2371;
                                            &#2309;&#2344;&#2369;&#2357;&#2366;&#2342; &#2327;&#2319;&#2310;&#2346;
                                            &#2357;&#2367;&#2358;&#2375;&#2359; &#2360;&#2325;&#2340;&#2375;
                                            &#2346;&#2352;&#2367;&#2349;&#2366;&#2359;&#2367;&#2340;
                                            &#2354;&#2366;&#2349;&#2366;&#2344;&#2381;&#2357;&#2367;&#2340;
                                            &#2346;&#2381;&#2352;&#2340;&#2367; &#2342;&#2375;&#2325;&#2352;
                                            &#2360;&#2350;&#2332;&#2340;&#2375;
                                            &#2342;&#2367;&#2358;&#2366;&#2350;&#2375;
                                            &#2346;&#2381;&#2352;&#2366;&#2346;&#2381;&#2340;
                                            &#2332;&#2376;&#2360;&#2375; &#2357;&#2352;&#2381;&#2339;&#2344;
                                            &#2360;&#2306;&#2360;&#2381;&#2341;&#2366;&#2344;
                                            &#2344;&#2367;&#2352;&#2381;&#2350;&#2366;&#2340;&#2366;
                                            &#2346;&#2381;&#2352;&#2357;&#2381;&#2352;&#2369;&#2340;&#2367;
                                            &#2349;&#2366;&#2340;&#2367; &#2330;&#2369;&#2344;&#2344;&#2375;
                                            &#2313;&#2346;&#2354;&#2348;&#2381;&#2343;
                                            &#2348;&#2375;&#2306;&#2327;&#2354;&#2370;&#2352;
                                            &#2309;&#2352;&#2381;&#2341;&#2346;&#2369;&#2352;&#2381;&#2339;&nbsp;</span>
                                    </p>
                                    <p><span xss="removed"></span><b xss="removed">Armeninian Lorem Ipsum</b><span
                                            xss="removed">:&nbsp;</span><span lang="hy" xml:lang="hy"
                                            xss="removed"><b><u>&#1388;&#1400;&#1404;&#1381;&#1396;
                                                    &#1387;&#1402;&#1405;&#1400;&#1410;&#1396;
                                                    &#1380;&#1400;&#1388;&#1400;&#1404; &#1405;&#1387;&#1385;
                                                    &#1377;&#1396;&#1381;&#1385;,
                                                    &#1388;&#1377;&#1378;&#1400;&#1404;&#1381;
                                                    &#1396;&#1400;&#1380;&#1381;&#1404;&#1377;&#1385;&#1387;&#1400;&#1410;&#1405;
                                                    &#1381;&#1385; &#1392;&#1377;&#1405;, &#1402;&#1381;&#1404;
                                                    &#1400;&#1396;&#1398;&#1387;&#1405;
                                                    &#1388;&#1377;&#1385;&#1387;&#1398;&#1381;
                                                    &#1380;&#1387;&#1405;&#1402;&#1400;&#1410;&#1385;&#1377;&#1385;&#1387;&#1400;&#1398;&#1387;
                                                    &#1377;&#1385;, &#1406;&#1387;&#1405;
                                                    &#1414;&#1381;&#1400;&#1410;&#1379;&#1377;&#1387;&#1385;
                                                    &#1390;&#1387;&#1406;&#1387;&#1378;&#1400;&#1410;&#1405;
                                                    &#1381;&#1389;.
                                                    &#1406;&#1387;&#1406;&#1381;&#1398;&#1380;&#1400;&#1410;&#1396;
                                                    &#1388;&#1377;&#1378;&#1400;&#1404;&#1377;&#1396;&#1400;&#1410;&#1405;
                                                    &#1381;&#1388;&#1377;&#1378;&#1400;&#1404;&#1377;&#1404;&#1381;&#1385;
                                                    &#1398;&#1377;&#1396; &#1387;&#1398;.</u></b></span></p>
                                    <p><span lang="hy" xml:lang="hy" xss="removed"><b><u><br></u></b></span><br></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="student-feedback-box">
                    <div class="student-feedback-title">
                        Student feedback </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="average-rating">
                                <div class="num">
                                    4 </div>
                                <div class="rating">
                                    <i class="fas fa-star filled" style="color: #f5c85b;"></i>
                                    <i class="fas fa-star filled" style="color: #f5c85b;"></i>
                                    <i class="fas fa-star filled" style="color: #f5c85b;"></i>
                                    <i class="fas fa-star filled" style="color: #f5c85b;"></i>
                                    <i class="fas fa-star" style="color: #abb0bb;"></i>
                                </div>
                                <div class="title">Average rating</div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="individual-rating">
                                <ul>
                                    <li>
                                        <div class="progress">
                                            <div class="progress-bar" style="width: 0%"></div>
                                        </div>
                                        <div>
                                            <span class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star filled"></i>

                                            </span>
                                            <span>0%</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="progress">
                                            <div class="progress-bar" style="width: 0%"></div>
                                        </div>
                                        <div>
                                            <span class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>

                                            </span>
                                            <span>0%</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="progress">
                                            <div class="progress-bar" style="width: 0%"></div>
                                        </div>
                                        <div>
                                            <span class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>

                                            </span>
                                            <span>0%</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="progress">
                                            <div class="progress-bar" style="width: 100%"></div>
                                        </div>
                                        <div>
                                            <span class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>

                                            </span>
                                            <span>100%</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="progress">
                                            <div class="progress-bar" style="width: 0%"></div>
                                        </div>
                                        <div>
                                            <span class="rating">
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>

                                            </span>
                                            <span>0%</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="reviews">
                        <div class="reviews-title">Reviews</div>
                        <ul>
                            <li>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="reviewer-details clearfix">
                                            <div class="reviewer-img float-left">
                                                <img src="images/user_image-placeholder.png" alt="">
                                            </div>
                                            <div class="review-time">
                                                <div class="time">
                                                    Sun, 07-Jul-2019 </div>
                                                <div class="reviewer-name">
                                                    Jane Doe </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="review-details">
                                            <div class="rating">
                                                <i class="fas fa-star filled" style="color: #f5c85b;"></i>
                                                <i class="fas fa-star filled" style="color: #f5c85b;"></i>
                                                <i class="fas fa-star filled" style="color: #f5c85b;"></i>
                                                <i class="fas fa-star filled" style="color: #f5c85b;"></i>
                                                <i class="fas fa-star" style="color: #abb0bb;"></i>
                                            </div>
                                            <div class="review-text">
                                                Recommend it to everyone.. </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="course-sidebar natural">
                    <div class="preview-video-box">
                        <a data-toggle="modal" data-target="#CoursePreviewModal"
                            href="supreme-photoshop-training-from-beginner-to-expert.html">
                            <img src="images/course_thumbnails-course_thumbnail_default_14.jpg" alt=""
                                class="img-fluid">
                            <span class="preview-text">Preview this course</span>
                            <span class="play-btn"></span>
                        </a>
                    </div>
                    <div class="course-sidebar-text-box">
                        <div class="price">
                            <span class="current-price"><span class="current-price">Free</span></span>
                        </div>


                        <!-- WISHLIST BUTTON -->
                        <div class="buy-btns">
                            <button class="btn btn-add-wishlist " type="button" id="14"
                                onclick="handleAddToWishlist(this)">
                                Add to wishlist </button>
                        </div>

                        <div class="buy-btns">
                            <a href="#" class="btn btn-buy-now" onclick="handleEnrolledButton()">Get enrolled</a>
                        </div>


                        <div class="includes">
                            <div class="title"><b>Includes:</b></div>
                            <ul>
                                <li><i class="far fa-file-video"></i>
                                    01:50:56 Hours On demand videos </li>
                                <li><i class="far fa-file"></i>12 Lessons</li>
                                <li><i class="fas fa-mobile-alt"></i>Access on mobile and tv</li>
                                <li><i class="far fa-compass"></i>Full lifetime access</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- <select class="language_selector" onchange="switch_language(this.value)">
            <option value="arabic">Arabic</option>
                                <option value="arbic">Arbic</option>
                                <option value="azeri">Azeri</option>
                                <option value="bangla">Bangla</option>
                                <option value="bengali">Bengali</option>
                                <option value="bosnian">Bosnian</option>
                                <option value="chinese">Chinese</option>
                                <option value="cyrillic">Cyrillic</option>
                                <option value="english" selected>English</option>
                                <option value="espaneol">Espaneol</option>
                                <option value="espaol">Espaol</option>
                                <option value="filipino">Filipino</option>
                                <option value="french">French</option>
                                <option value="german">German</option>
                                <option value="greek">Greek</option>
                                <option value="gujarati">Gujarati</option>
                                <option value="haitian-creole">Haitian-creole</option>
                                <option value="hayeren">Hayeren</option>
                                <option value="hebrew">Hebrew</option>
                                <option value="hindi">Hindi</option>
                                <option value="hungarian">Hungarian</option>
                                <option value="indo">Indo</option>
                                <option value="indonesia">Indonesia</option>
                                <option value="italiano">Italiano</option>
                                <option value="kazakh">Kazakh</option>
                                <option value="korean">Korean</option>
                                <option value="kurdi">Kurdi</option>
                                <option value="mandarine">Mandarine</option>
                                <option value="marathi">Marathi</option>
                                <option value="nepali">Nepali</option>
                                <option value="persian">Persian</option>
                                <option value="persisan">Persisan</option>
                                <option value="polish">Polish</option>
                                <option value="portugues">Portugues</option>
                                <option value="portugus-br">Portugus-br</option>
                                <option value="romanian">Romanian</option>
                                <option value="russian">Russian</option>
                                <option value="somali">Somali</option>
                                <option value="spanish">Spanish</option>
                                <option value="swedish">Swedish</option>
                                <option value="tamil">Tamil</option>
                                <option value="thai">Thai</option>
                                <option value="tr">Tr</option>
                                <option value="trke">Trke</option>
                                <option value="turkish">Turkish</option>
                                <option value="ukraine">Ukraine</option>
                                <option value="urdu">Urdu</option>
                                <option value="vietnam">Vietnam</option>
</select> -->