<div class="d-flex" *ngIf="'admin'=='admin'">
  <div class="col">
    <p class="text-center"> <a routerLink="/admin" class=" mt-2">Administrator</a></p>
  </div>
</div>
<section class="menu-area">
  <div class="container-xl">
    <div class="row">
      <div class="col">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

          <ul class="mobile-header-buttons">
            <li><a class="mobile-nav-trigger" href="#mobile-primary-nav">Menu<span></span></a></li>
            <li><a class="mobile-search-trigger" href="#mobile-search">Search<span></span></a></li>
          </ul>

          <a routerLink="/" class="navbar-brand">
            <img src="https://cdn.sapvcpanel.com/uploads/system/logo-dark.png" alt="" height="35">
          </a>

          <div class="main-nav-wrap">
            <div class="mobile-overlay"></div>

            <ul class="mobile-main-nav">
              <div class="mobile-menu-helper-top"></div>

              <li class="has-children">
                <a routerLink="#">
                  <i class="fas fa-th d-inline"></i>
                  <span>Courses</span>
                  <span class="has-sub-category"><i class="fas fa-angle-right"></i></span>
                </a>

                <ul class="category corner-triangle top-left is-hidden">
                  <li class="go-back"><a routerLink="#"><i class="fas fa-angle-left"></i>Menu</a></li>

                  <li class="has-children">
                    <a routerLink="#">
                      <span class="icon"><i class="fas fa-desktop"></i></span>
                      <span>Web Design</span>
                      <span class="has-sub-category"><i class="fas fa-angle-right"></i></span>
                    </a>
                    <ul class="sub-category is-hidden">
                      <li class="go-back-menu">
                        <a routerLink="#">
                          <i class="fas fa-angle-left"></i>Menu
                        </a>
                      </li>
                      <li class="go-back">
                        <a routerLink="#">
                          <i class="fas fa-angle-left"></i>
                          <span class="icon"><i class="fas fa-desktop"></i></span>
                          Web Design
                        </a>
                      </li>
                      <li>
                        <a routerLink="/categories">
                          Responsive
                          Design
                        </a>
                      </li>
                      <li>
                        <a routerLink="home/courses885f.html?category=wordpress-theme">
                          WordPress
                          Theme
                        </a>
                      </li>
                      <li>
                        <a routerLink="home/courses0c91.html?category=bootstrap">Bootstrap</a>
                      </li>
                      <li>
                        <a routerLink="home/coursesb5f1.html?category=html-amp-css">
                          HTML &amp;
                          CSS
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="has-children">
                    <a routerLink="#">
                      <span class="icon"><i class="fas fa-pencil-alt"></i></span>
                      <span>Graphic Design</span>
                      <span class="has-sub-category"><i class="fas fa-angle-right"></i></span>
                    </a>
                    <ul class="sub-category is-hidden">
                      <li class="go-back-menu">
                        <a routerLink="#">
                          <i class="fas fa-angle-left"></i>Menu
                        </a>
                      </li>
                      <li class="go-back">
                        <a routerLink="#">
                          <i class="fas fa-angle-left"></i>
                          <span class="icon"><i class="fas fa-pencil-alt"></i></span>
                          Graphic Design
                        </a>
                      </li>
                      <li>
                        <a routerLink="home/courses4696.html?category=photoshop">Photoshop</a>
                      </li>
                      <li>
                        <a routerLink="home/coursesd1b3.html?category=adobe-illustrator">
                          Adobe
                          Illustrator
                        </a>
                      </li>
                      <li><a routerLink="home/coursesf6aa.html?category=drawing">Drawing</a></li>
                      <li>
                        <a routerLink="home/courses6e7b.html?category=logo-design">
                          Logo
                          Design
                        </a>
                      </li>
                      <li>
                        <a routerLink="home/courses2e21.html?category=digital-art">
                          Digital
                          Art
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="has-children">
                    <a routerLink="#">
                      <span class="icon"><i class="fas fa-male"></i></span>
                      <span>User Experience</span>
                      <span class="has-sub-category"><i class="fas fa-angle-right"></i></span>
                    </a>
                    <ul class="sub-category is-hidden">
                      <li class="go-back-menu">
                        <a routerLink="#">
                          <i class="fas fa-angle-left"></i>Menu
                        </a>
                      </li>
                      <li class="go-back">
                        <a routerLink="#">
                          <i class="fas fa-angle-left"></i>
                          <span class="icon"><i class="fas fa-male"></i></span>
                          User Experience
                        </a>
                      </li>
                      <li>
                        <a routerLink="home/courses5b8a.html?category=user-experience-design">
                          User
                          Experience Design
                        </a>
                      </li>
                      <li>
                        <a routerLink="home/courses1c01.html?category=mobile-app-design">
                          Mobile
                          App Design
                        </a>
                      </li>
                      <li>
                        <a routerLink="home/courses6896.html?category=user-interface">
                          User
                          Interface
                        </a>
                      </li>
                      <li>
                        <a routerLink="home/coursesd12a.html?category=design-thinking">
                          Design
                          Thinking
                        </a>
                      </li>
                      <li><a routerLink="home/courses2c28.html?category=figma">Figma</a></li>
                      <li>
                        <a routerLink="home/coursesaa5c.html?category=prototyping">Prototyping</a>
                      </li>
                    </ul>
                  </li>
                  <li class="has-children">
                    <a routerLink="#">
                      <span class="icon"><i class="fas fa-magic"></i></span>
                      <span>Interior Design</span>
                      <span class="has-sub-category"><i class="fas fa-angle-right"></i></span>
                    </a>
                    <ul class="sub-category is-hidden">
                      <li class="go-back-menu">
                        <a routerLink="#">
                          <i class="fas fa-angle-left"></i>Menu
                        </a>
                      </li>
                      <li class="go-back">
                        <a routerLink="#">
                          <i class="fas fa-angle-left"></i>
                          <span class="icon"><i class="fas fa-magic"></i></span>
                          Interior Design
                        </a>
                      </li>
                      <li>
                        <a routerLink="home/courses6921.html?category=color-theory">
                          Color
                          Theory
                        </a>
                      </li>
                      <li>
                        <a routerLink="home/courses340a.html?category=lighting-design">
                          Lighting
                          Design
                        </a>
                      </li>
                      <li>
                        <a routerLink="home/courses8f26.html?category=sketchup">SketchUp</a>
                      </li>
                      <li>
                        <a routerLink="home/courses55aa.html?category=home-improvement">
                          Home
                          Improvement
                        </a>
                      </li>
                      <li>
                        <a routerLink="home/coursesb29e.html?category=3d-lighting">
                          3D
                          Lighting
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="has-children">
                    <a routerLink="#">
                      <span class="icon"><i class="fas fa-cube"></i></span>
                      <span>3D and Animation</span>
                      <span class="has-sub-category"><i class="fas fa-angle-right"></i></span>
                    </a>
                    <ul class="sub-category is-hidden">
                      <li class="go-back-menu">
                        <a routerLink="#">
                          <i class="fas fa-angle-left"></i>Menu
                        </a>
                      </li>
                      <li class="go-back">
                        <a routerLink="#">
                          <i class="fas fa-angle-left"></i>
                          <span class="icon"><i class="fas fa-cube"></i></span>
                          3D and Animation
                        </a>
                      </li>
                      <li><a routerLink="home/courses43c0.html?category=blender">Blender</a></li>
                      <li>
                        <a routerLink="home/courses01b3.html?category=motion-graphics">
                          Motion
                          Graphics
                        </a>
                      </li>
                      <li>
                        <a routerLink="home/coursesb587.html?category=after-effects">
                          After
                          Effects
                        </a>
                      </li>
                      <li><a routerLink="home/coursesd853.html?category=maya">Maya</a></li>
                      <li><a routerLink="home/coursesaa8a.html?category=zbrush">zBrush</a></li>
                      <li>
                        <a routerLink="home/coursesf09c.html?category=character-modeling">
                          Character
                          Modeling
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="has-children">
                    <a routerLink="#">
                      <span class="icon"><i class="fas fa-user-secret"></i></span>
                      <span>Fashion</span>
                      <span class="has-sub-category"><i class="fas fa-angle-right"></i></span>
                    </a>
                    <ul class="sub-category is-hidden">
                      <li class="go-back-menu">
                        <a routerLink="#">
                          <i class="fas fa-angle-left"></i>Menu
                        </a>
                      </li>
                      <li class="go-back">
                        <a routerLink="#">
                          <i class="fas fa-angle-left"></i>
                          <span class="icon"><i class="fas fa-user-secret"></i></span>
                          Fashion
                        </a>
                      </li>
                      <li>
                        <a routerLink="home/courses80b0.html?category=fashion-design">
                          Fashion
                          Design
                        </a>
                      </li>
                      <li><a routerLink="home/courses21fb.html?category=sewing">Sewing</a></li>
                      <li>
                        <a routerLink="home/coursesd657.html?category=t-shirt-design">
                          T-shirt
                          Design
                        </a>
                      </li>
                      <li>
                        <a routerLink="home/courses2cea.html?category=jewelry-design">
                          Jewelry
                          Design
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="has-children">
                    <a routerLink="#">
                      <span class="icon"><i class="fab fa-500px"></i></span>
                      <span>Frontend Development With Vue.js</span>
                      <span class="has-sub-category"><i class="fas fa-angle-right"></i></span>
                    </a>
                    <ul class="sub-category is-hidden">
                      <li class="go-back-menu">
                        <a routerLink="#">
                          <i class="fas fa-angle-left"></i>Menu
                        </a>
                      </li>
                      <li class="go-back">
                        <a routerLink="#">
                          <i class="fas fa-angle-left"></i>
                          <span class="icon"><i class="fab fa-500px"></i></span>
                          Frontend Development With Vue.js
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="all-category-devided">
                    <a routerLink="/categories">
                      <span class="icon"><i class="fa fa-align-justify"></i></span>
                      <span>All courses</span>
                    </a>
                  </li>
                </ul>
              </li>

              <div class="mobile-menu-helper-bottom"></div>
            </ul>
          </div>

          <form class="inline-form" action="/search" method="post" style="width: 100%;">
            <div class="input-group search-box mobile-search">
              <input type="text" name='query' class="form-control" placeholder="Search for courses">
              <div class="input-group-append">
                <button class="btn" type="submit"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </form>


          <div class="cart-box menu-icon-box" id="cart_items">
            <div class="icon">
              <a routerLink="/cart">
                <i class="fas fa-shopping-cart"></i>
              </a>
              <span class="number">0</span>
            </div>

            <div class="dropdown course-list-dropdown corner-triangle top-right" style="display: none;">

              <div class="list-wrapper">
                <div class="item-list">
                  <ul>
                  </ul>
                </div>
                <div class="dropdown-footer">
                  <div class="cart-total-price clearfix">
                    <span>Total:</span>
                    <div class="float-right">
                      <span class="current-price"></span>
                      <span class="original-price">$94.99</span> --
                    </div>
                  </div>
                  <a routerLink="/cart">Go to cart</a>
                </div>
              </div>
              <div class="empty-box text-center d-none">
                <p>Your cart is empty.</p>
                <a routerLink="/categories">Keep Shopping</a>
              </div>
            </div>

          </div>

          <span class="signin-box-move-desktop-helper"></span>
          <div class="sign-in-box btn-group">

            <a routerLink="/authentication/login" class="btn btn-sign-in" *ngIf="!(isAuthenticated | async)">Log in</a>

            <a routerLink="/authentication/register" class="btn btn-sign-in" *ngIf="!(isAuthenticated | async)">Sign
              up</a>
            <!-- <a [routerLink]='["/authentication/profile"]' class="btn btn-sign-in" *ngIf="isAuthenticated | async">{{
              userName | async }}</a> -->
            <div class="user-box menu-icon-box" *ngIf="isAuthenticated | async">
              <div class="icon">
                <a href="javascript::">
                  <img src="http://demo.academy-lms.com/default/uploads/user_image/placeholder.png" alt=""
                    class="img-fluid">
                </a>
              </div>
              <div class="dropdown user-dropdown corner-triangle top-right">
                <ul class="user-dropdown-menu">
                  <li class="dropdown-user-info">
                    <a routerLink="/authentication/profile">
                      <div class="clearfix">
                        <div class="user-image float-left">
                          <img src="http://demo.academy-lms.com/default/uploads/user_image/placeholder.png" alt="">
                        </div>
                        <div class="user-details">
                          <div class="user-name">
                            <span class="hi">Hi,</span>
                            {{ userName | async }}
                          </div>
                          <div class="user-email">
                            <span class="email">{{ userName | async }}</span>
                            <span class="welcome">Welcome back</span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="user-dropdown-menu-item"><a routerLink="/mycourses"><i class="far fa-gem"></i>My
                      courses</a></li>
                  <li class="user-dropdown-menu-item"><a routerLink="/mywishlist"><i class="far fa-heart"></i>My
                      wishlist</a></li>
                  <li class="user-dropdown-menu-item"><a routerLink="/mymessages"><i class="far fa-envelope"></i>My
                      messages</a></li>
                  <li class="user-dropdown-menu-item"><a routerLink="/purchasehistory"><i
                        class="fas fa-shopping-cart"></i>Purchase history</a></li>
                  <li class="user-dropdown-menu-item"><a routerLink="/authentication/profile"><i
                        class="fas fa-user"></i>User profile</a></li>
                  <li class="dropdown-user-logout user-dropdown-menu-item"><a routerLink="/authentication/logout"
                      [state]='{ local: true }'>Log out</a></li>
                </ul>
              </div>
            </div>
            <a routerLink="/Buy-School" class="btn btn-sign-up" *ngIf="!(isAuthenticated | async)">Buy Academy</a>

          </div>
        </nav>
      </div>
    </div>
  </div>
</section>