<section class="category-header-area">
    <div class="container-lg">
        <div class="row">
            <div class="col">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/"><i class="fas fa-home"></i></a></li>
                        <li class="breadcrumb-item">
                            <a routerLink="/register">
                                Register New User </a>
                        </li>
                    </ol>
                </nav>
                <h1 class="category-name">
                    New Registeration </h1>
            </div>
        </div>
    </div>
</section>

<section class="category-course-list-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="user-dashboard-content w-100 register-form">
                    <div class="content-title-box">
                        <div class="title">User Registeration</div>
                        <div class="subtitle">Sign up and start learning.</div>
                    </div>
                    <form method="post">
                        <div class="content-box">
                            <div class="basic-group">
                                <div class="form-group">
                                    <label for="first_name"><span class="input-field-icon"><i
                                                class="fas fa-user"></i></span> First name:</label>
                                    <input type="text" class="form-control" name="first_name" id="first_name"
                                        placeholder="First name" value="" required>
                                </div>
                                <div class="form-group">
                                    <label for="last_name"><span class="input-field-icon"><i
                                                class="fas fa-user"></i></span> Last name:</label>
                                    <input type="text" class="form-control" name="last_name" id="last_name"
                                        placeholder="Last name" value="" required>
                                </div>
                                <div class="form-group">
                                    <label for="registration-email"><span class="input-field-icon"><i
                                                class="fas fa-envelope"></i></span> Email:</label>
                                    <input type="email" class="form-control" name="email" id="registration-email"
                                        placeholder="Email" value="" required>
                                </div>
                                <div class="form-group">
                                    <label for="registration-password"><span class="input-field-icon"><i
                                                class="fas fa-lock"></i></span> Password:</label>
                                    <input type="password" class="form-control" name="password"
                                        id="registration-password" placeholder="Password" value="" required>
                                </div>
                            </div>
                        </div>
                        <div class="content-update-box">
                            <button type="submit" class="btn">Sign up</button>
                        </div>
                        <div class="account-have text-center">
                            Already have an account? <a routerLink="/login">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>