/* You can add global styles to this file, and also import other style files */
/* @import url(../OutCss/jquery.webui-popover.min.css);
@import url(../OutCss/select2.min.css);
@import url(../OutCss/slick.css);
@import url(../OutCss/slick-theme.css);
@import url(../OutCss/fontawesome-all.min.css);
@import url(../OutCss/bootstrap.min.css);
@import url(../OutCss/bootstrap-tagsinput.css);
@import url(../OutCss/main.css);
@import url(../OutCss/responsive.css);
@import url(../OutCss/toastr.css);
@import url(../OutCss/jquery.nestable.min.css); */
@import url(../OutCss/site.min.css);

html,
body {
    height: 100%;
}

body {
    margin     : 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-length {
    width: 100%;
}