<div class="container-fluid">
    <div class="row form-group" *ngFor="let x of ittr">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar>
                        <i class="material-icons">content_copy</i>
                    </div>
                    <mat-card-title>Used Space</mat-card-title>
                    <mat-card-subtitle>49/50
                        <small>GB</small>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="stats">
                        <i class="material-icons text-danger">warning</i>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar>
                        <i class="material-icons">content_copy</i>
                    </div>
                    <mat-card-title>Used Space</mat-card-title>
                    <mat-card-subtitle>49/50
                        <small>GB</small>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="stats">
                        <i class="material-icons text-danger">warning</i>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar>
                        <i class="material-icons">content_copy</i>
                    </div>
                    <mat-card-title>Used Space</mat-card-title>
                    <mat-card-subtitle>49/50
                        <small>GB</small>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="stats">
                        <i class="material-icons text-danger">warning</i>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar>
                        <i class="material-icons">content_copy</i>
                    </div>
                    <mat-card-title>Used Space</mat-card-title>
                    <mat-card-subtitle>49/50
                        <small>GB</small>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="stats">
                        <i class="material-icons text-danger">warning</i>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>