<section class="category-header-area">
    <div class="container-lg">
        <div class="row">
            <div class="col">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/"><i class="fas fa-home"></i></a></li>
                        <li class="breadcrumb-item">
                            <a routerLink="login">
                                Login </a>
                        </li>
                    </ol>
                </nav>
                <h1 class="category-name">
                    Registered user </h1>
            </div>
        </div>
    </div>
</section>

<section class="category-course-list-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="user-dashboard-box mt-3">
                    <div class="user-dashboard-content w-100 login-form">
                        <div class="content-title-box">
                            <div class="title">Login</div>
                            <div class="subtitle">Provide your valid login credentials.</div>
                        </div>
                        <form action="" method="post">
                            <div class="content-box">
                                <div class="basic-group">
                                    <div class="form-group">
                                        <label for="login-email"><span class="input-field-icon"><i
                                                    class="fas fa-envelope"></i></span> Email:</label>
                                        <input type="email" class="form-control" name="email" id="email"
                                            placeholder="Email" value="" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="login-password"><span class="input-field-icon"><i
                                                    class="fas fa-lock"></i></span> Password:</label>
                                        <input type="password" class="form-control" name="password"
                                            placeholder="Password" value="" required id="password">
                                    </div>
                                </div>
                            </div>
                            <div class="content-update-box">
                                <button type="submit" class="btn">Login</button>
                            </div>

                            <div class="forgot-pass text-center">
                                <span>or</span>
                                <br>
                                <a routerLink="/forgot">Forgot password</a>
                            </div>
                            <div class="account-have text-center">
                                Do not have an account? <a routerLink="/register">Sign up</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>